.self {
	var .w160.h140.rel.pntr;

	..creature-image {
		width: 100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		transition: top .2s;
	}

	&..active {
		.ground {
			outline: 2px solid #9dd822 !important;
			box-shadow: 0 0 20px #9dd822 !important;
		}
	}
	&:hover {
		.ground {
			outline: 2px solid #ff8704;
			box-shadow: 0 0 20px #ff8704;
		}
		..creature-image {
			top: -3px;
		}
	}
	&:nth-child(2n) {
		transform: translateY(-30px);
	}

	.ground {
		position: absolute;
		top: 0;
		left: -20px;
		z-index: 1;
		width: 140px;
		height: 140px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		transform: rotateX(-110deg) rotateY(-180deg) rotate(-45deg) translateZ(-65px);
		box-shadow: 10px -10px 20px #000;

		&.dirt {
			background-image: url(/assets/images/dirt.png);
		}
		&.dirt2 {
			background-image: url(/assets/images/dirt2.png);
		}
		&.stone {
			background-image: url(/assets/images/stone.png);
		}

		
	}
}