.input {
	position: relative;
	white-space: normal;

	.autocomplete {
		position: absolute;
		top: 39px;
		left: 0;
		right: 0;
		background-color: #fff;
    	border-radius: 3px;
    	border: 1px solid #b9c9dd;
    	padding: 7px;
    	display: none;
    	z-index: 5;
    	max-height: 350px;
    	overflow: auto;
    	&:empty {
    		display: none !important;
    	}
    	
    	.autocomplete-option {
    		padding: 5px;
    		cursor: pointer;
    		&:hover {
    			background-color: #e7ffe8;
    		}
    	}
	}
	&.focused {
		.autocomplete {
			display: block;
		}
		z-index: 2;
	}
	.tooltip-sign {
		position: absolute;
		top: 9px;
		left: 0;
	}
	
	&.email-input,
	&.phone-input {
		&:before {
			content: '+7';
			position: absolute;
			left: 0;
			top: 1px;
			width: 34px;
			border-right: 1px solid #b9c9dd;
			text-align: center;
			line-height: 36px;
		}
		&.invalid {
			&:before {
				border-right-color: #ae3d3d;
			}
		}
		&.valid {
			&:before {
				border-right-color: #4caf50;
			}
		}
		input {
			padding-left: 41px;
		}
	}
	&.email-input {
		&:before {
			content: 'Email';
			width: 60px;
		}
		input {
			padding-left: 70px;
		}
	}

	&.textlike {
		input {
			background-color: transparent !important;
			border-color: transparent !important;
			padding-left: 0 !important;
			padding-top: 0 !important;
		}
		&:after {
			display: none !important;
		}
		.input-length-indicator {
			display: none !important;	
		}
	}
	
	textarea,
	input {
		width: 100%;
		box-sizing: border-box;
		background-color: #fff;
		border-radius: 3px;
		border: 1px solid #b9c9dd;
		color: #333;
		font-size: 14px;
		padding: 8px 12px 9px 12px;

		&:focus {
			border-color: #6d88aa;
			box-shadow: 0 0 5px #85bfe3;
			outline: none;
		}
		textarea {
			height: 100px;
		}
	}
	&.read-only {
		textarea,
		input {
			&:focus {
				box-shadow: none !important;
			}
		}
	}
	&.gray {
		textarea,
		input {
			border: 1px solid #b9c9dd !important;
			background-color: #eef0f3 !important;
		}
		&:after {
			display: none !important;
		}
	}
	&.inactive {
		textarea,
		input {
			&:focus {
				box-shadow: none !important;
				border: 1px solid #b9c9dd !important;
			}
			background-color: transparent !important;
		}
	}
	.input-bottom-error {
		color: #d81616;
		margin-top: 5px;
		margin-bottom: 15px;
		margin-left: 5px;
		font-size: 13px;
		
		&.absolute {
			// margin: 0 !important;
			// position: absolute;
			// bottom: 0;
			// left: 5px;
		}
	}
	.input-error {
		display: none;
	    position: absolute;
	    top: 1px;
	    right: 1px;
	    max-width: 300px;
	    color: #ae3d3d;
	    padding: 9px 15px;
	    border-radius: 3px;

		span {
			display: block;
		}
	}
	&.error {
		textarea,
		input {
			//padding-left: 34px;
		}
		.input-error {
			//display: block !important;
		}
		&:after {
			//display: none !important;
		}
	}
	&.invalid {
		textarea,
		input {
			//padding-left: 34px;
			border: 1px solid #ae3d3d;
			box-shadow: inset 0 0 5px #f32727;
			&:focus {
				border-color: #ae3d3d;
				box-shadow: 0 0 5px #f32727;
			}
		}
		&.orange {
			.tooltip-sign {
				background-color: #e47400;
			}
			textarea,
			input {
				border: 1px solid #e47400;
				box-shadow: inset 0 0 5px #e47400;
				&:focus {
					box-shadow: 0 0 5px #e47400;
				}
			}
		}
		&:hover {
			.input-error {
				display: block;
			}
			&:after {
				display: none;
			}
		}
		&:after {
			display: none;
			content: '';
			position: absolute;
			right: 10px;
			top: 9px;
			width: 20px;
			height: 20px;
			background-color: #d32a2a;
			border-radius: 50%;
			background-image: url('/assets/images/white-cross-icon.png');
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
		.input-length-indicator {
			display: none;
		}
	}
	&.valid:not(.inactive) {
		textarea,
		input {
			border: 1px solid #4caf50;
			&:focus {
				border-color: #4caf50;
				box-shadow: 0 0 5px #4caf50;
			}
		}
		input {
			padding-right: 36px;
		}
		&:after {
			content: '';
			position: absolute;
			right: 10px;
			top: 9px;
			width: 20px;
			height: 20px;
			background-color: #4caf50;
			border-radius: 50%;
			background-image: url('/assets/images/white-checked-icon.png');
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
	}
	&.error {
		.input-length-indicator {
			// margin-bottom: 10px;
			display: none;
		}
	}
	.input-length-indicator {
		color: #888;
		text-align: right;
		padding-top: 4px;
		padding-right: 6px;
	}
	.clear {
		display: none;
		position: absolute;
		right: 10px;
		top: 9px;
		width: 20px;
		height: 20px;
		background-color: #888;
		border-radius: 50%;
		background-image: url('/assets/images/white-cross-icon.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		z-index: 2;
		cursor: pointer;

		&:hover {
			background-color: #555;
		}
	}
	&:not(.empty):not(.select):not(.read-only):not(.inactive):hover {
		.clear {
			display: block;
		}
		&:after {
			display: none;
		}
	}
}