.action-button {
    display: inline-block;
    position: relative;
    z-index: 1;

    .button {
        width: auto;
        padding: 0 25px 0 40px;
        background-image: url(/assets/images/menu-icon.png);
        background-position: 15px 54%;
        background-repeat: no-repeat;

        &:hover {
           background-color: #20b470;
        }
    }

    .action-button-menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: 2px;
        background-color: #fff;
        display: none;
    }

    &.active {
        z-index: 10;

        .action-button-menu {
            display: block;
            border-radius: 3px;
            border: 1px solid #aaa;
        }
    }

    .action-button-menu-item {
        padding: 10px 12px;
        cursor: pointer;

        &:hover {
            background-color: #e6f0fd;
        }
    }
    a.action-button-menu-item {
        display: block;
        border-bottom: 0;
        color: #3e4752;
    }
}