.date-picker {
	position: relative;
	
	.date-picker-input {
		input {
			cursor: pointer;	
		}
		&.empty:after {
			content: '';
			position: absolute;
			right: 6px;
			top: 6px;
			width: 28px;
			height: 25px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url(/assets/images/calendar-icon.png);
		}
	}
	.date-picker-calendar {
		position: absolute;
		top: 100%;
		margin-top: 2px;
		left: 0;
		width: 280px;
		background-color: #fff;
		border-radius: 3px;
		border: 1px solid #6d88aa;
		display: none;
		z-index: 10;
	}
	&.active {
		.date-picker-calendar {
			display: block;
		}
	}
	.input:not(.empty) {
		&:after {
			display: none;
		}
		.clear {
			display: block !important;
		}
	}
}