.pagination {
    padding: 15px 0;
    position: relative;

    &:empty {
        visibility: hidden;
    }

    span {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
        display: inline-block;
        width: 25px;
        line-height: 25px;
        height: 25px;
        border-radius: 2px;
        text-align: center;
        color: #fff;
        background-color: #293f4f;
        margin: 0 4px;
        vertical-align: top;
        font-family: OpenSans;
        font-size: 13px;

        &:hover {
            background-color: #385265;
        }

        &.active {
            cursor: default;
            background-color: #4495c9;
        }
        &.prev {
            background-image: url(/assets/images/prev-arrow.png);
        }
        &.next {
            background-image: url(/assets/images/next-arrow.png);
        }
    }
    .total-count {
        position: absolute;
        right: 0;
        top: 18px;
    }
}