.counter {
	user-select: none;
	display: inline-block;
	.input {
		width: 60px;
		display: inline-block;
		.clear {
			display: none !important;
		}
		input {
			border: 1px solid #b9c9dd !important;
			padding-right: 0 !important;
			box-shadow: none !important;
		}
		&:after {
			display: none !important;
		}
	}
	.minus,
	.plus {
		line-height: 25px;
		font-size: 25px;
		padding: 0 8px;
		cursor: pointer;
		display: inline-block;
    	vertical-align: sub;
	}
	.minus {
		font-size: 30px;
	}
}