.with.no.prefix;

@font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/Futura.woff2') format('woff2'),
         url('../../assets/fonts/Futura.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*::-webkit-scrollbar { width: 10px; height: 10px;} 
*::-webkit-scrollbar-button { background-color: #c1c1c1;display: none;} 
*::-webkit-scrollbar-track { background-color: #d0d5dc;} 
*::-webkit-scrollbar-track-piece { background-color: #d0d5dc;} 
*::-webkit-scrollbar-thumb { min-height: 35px; min-width: 35px; background-color: #293f4f; border-radius: 0px;} 
*::-webkit-scrollbar-corner { background-color: #d0d5dc;}
*::-webkit-resizer { background-color: #d0d5dc;}

div {
    box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
	background-color: #000;
	margin: 0;
	padding: 0;
	font-family: 'Futura';
	color: #f1f1f1;
	font-size: 23px;
  background-image: url(/assets/images/back.jpg);
}
ul li ul {
    margin: 15px 0 25px 0;
}
ul li ul li {
    padding: 4px 0;
}
ul.letters {
    list-style-type: lower-alpha;
}
span.link,
a {
	cursor: pointer;
  text-decoration: none;
	color: #437edd;
    &:hover {
        color: #528fe8;
    }
}
h1, h2, h3 {
    font-weight: normal;
    padding: 10px 0;
    margin: 0;
    color: #464c5f;
}

h1 {
    font-size: 32px;
}
h2 {	
	font-size: 32px;
}
h3 {    
    font-size: 25px;
}
textarea,
input {
    font-size: 14px;
    color: #333;
    font-family: 'Futura';
    resize: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff !important;
    background-image: none !important;
    color: #333 !important;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #b1bdce;
    transition: color 0.4s;
}
textarea::-moz-placeholder,
input::-moz-placeholder {
    color: #b1bdce;
    transition: color 0.4s;
}
textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
    color: #d0d9e5;
}
textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
    color: #d0d9e5;
}
#root {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

