.switcher {
	.control {
		display: block;
		position: relative;
		float: left;
	    width: 28px;
	    border-radius: 20px;
	    height: 14px;
	    border: 1px solid #a2a5af;
	    box-sizing: border-box;
	    cursor: pointer;
	    margin-top: 3px;
	    margin-right: 7px;

	    &:after {
	    	content: '';
		    position: absolute;
		    width: 10px;
		    height: 10px;
		    border-radius: 50%;
		    background-color: #a2a5af;
		    left: 1px;
		    top: 50%;
		    margin-top: -5px;
		    box-sizing: border-box;
	    }
	}
	&.checked {
	    .control {
	    	border: 1px solid #4caf50;

	    	&:after {
				left: auto;
			    right: 1px;
			    background-color: #4caf50;
	    	}
	    }
	}
	.label {
        cursor: pointer;
    }
}