.form {
	position: relative;
	.form-clear-button {
		position: absolute;
		right: 0;
		top: 4px;
		cursor: pointer;
		background-image: url(/assets/images/clear-icon.png);
		background-position: 0 50%;
		padding-left: 20px;
		background-repeat: no-repeat;
		color: #4394c8;
		font-size: 15px;
	}
	.form-field {
		position: relative;

		&.textlike {
			margin-top: 10px !important;
			width: 100% !important;
			display:  block !important;
			margin-right: 0 !important;
			
			.field-caption {
				padding-left: 0;
			}
		}		

		.field-caption {
			color: #002F87;
    		padding-bottom: 5px;
    		padding-left: 5px;
    		line-height: 20px;
    		font-size: 13px;
		}
		&.half {
			display: inline-block;
			vertical-align: top;
			width: 49%;
			
			&.left {
				margin-right: 2%;
			}
		}
		&.third {
			display: inline-block;
			vertical-align: top;
			width: 32%;
			
			&.left {
				margin-right: 2%;
			}
		}
		&.inb {
			vertical-align: top;
		}
		.tooltip-sign {
			margin-left: 8px;
		}
	}
	.form-area {
		position: relative;
	}
	.form-area-inner {
		position: relative;
		z-index: 2;
	}
}